body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.red-color {
  color: red;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background: linear-gradient(red, yellow);
  background-color: aqua;
  padding: 20px, 70px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
h4 {
  padding-left: 5%;
}

#vission {
  text-align: center;
}
.mission-19 {
  display: flex;
}
.mission-19 {
  width: 90;
  padding: 5%;
  margin: 2%;
}
.mission-19 {
  box-shadow: 10px 10px 8px 2px #888888;
}
section{
  display: flex;
}
.half-width img{
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
}
.half-width{
  width: 60%;
  padding: 2%;
  margin-right: 20px;
}
footer{
  text-align: center;
  
}